<p id="notice"><%= notice %></p>
<div class="row">
          <div class="large-12 columns">

            <div class="panel" style="padding-top:.5em;padding-bottom:.5em;">
              <div class="row">
                <div class="large-6 columns">
                  <h4 class="hide-for-small"><%= @theme.name %> | <%= @theme.name_original %><br/>
                    <span class="subheader"><%= @theme.description %></span>
                  </h4>
                </div>

                <div class="large-6 columns right" style="text-align:right;">
                  <ul style="list-style:none;float:right;margin-top:10px;margin-bottom:0;">
                    <% @theme.documents.each do |d| %>
                      <li><%= link_to d.description, d.url, :class => "small button" %></li>
                    <% end %>
                  </ul>
                </div>

              </div>
            </div>

          </div>
</div>

<div class="row">
 
          <div class="large-6 columns">
            <div class="row">
              <div class="columns">
              <% @theme.subthemes.each do |s| %>
                  <div class="panel">
                      <!-- Theme image -->
                    <div style="float:right;">
                      <%= image_tag @theme.image, :size => '100x100' %>
                    </div>
                    
                    <h5><%= s.name %></h5>
                    <h6 class="subheader"><%= s.description %></h6>
                    <%= link_to 'Start!', subtheme_path(s), :class => "small button" %>

                  </div>
              <% end %>
              </div>
            </div>
          </div>

          <div class="large-6 columns">
            <img src="<%= @theme.image %>"><br>
          </div>
        </div>
 
 
 
      <!-- End Header Content -->
      
