<p id="notice"><%= notice %></p>
<div class="row">
  <p>
    <!-- Theme name and translation -->
    <%= @theme.name %> | <%= @theme.name_original %>
  </p>

  <p>
    <!-- Theme description -->
    <%= @theme.description %>
  </p>
  
  <p>
    <!-- Theme image -->
    <%= image_tag @theme.image, :size => '100x100' %>
  </p>

  <p>
    <!-- Theme video -->
  </p>

  <p>
    <!-- Theme Documents -->
    <ul>
      <% @theme.documents.each do |d| %>
        <li><%= link_to d.description, d.url %></li>
      <% end %>
    </ul>
  </p>

  <p>
    <!-- Theme subthemes and descriptions -->
    <h5>Subthemes</h5>
    <ul>
      <% @theme.subthemes.each do |s| %>
        <li><%= link_to (s.name + ' - ' + s.description), subtheme_path(s) %></li>
      <% end %>
    </ul>
  </p>

</div>
