<p id="notice"><%= notice %></p>
<div class="row">
          <div class="large-12 columns">
            <p style="font-size:80%;">
            <a href="/themes/1">The Trip</a> > <a href="/subthemes/<%= @subtheme.id %>"> <%= @subtheme.name %></a>
            </p>
          </div>

          <div class="large-12 columns">

            <div class="panel" style="padding-top:.5em;padding-bottom:.5em;">
              <div class="row">
                <div class="large-6 columns">
                  <h4 class="hide-for-small"><%= @subtheme.name %><br/>
                    <span class="subheader"><%= @subtheme.description %></span>
                  </h4>
                </div>
              
                <div class="large-6 columns right" style="text-align:right;">
                  <ul style="list-style:none;float:right;margin-top:10px;margin-bottom:0;">
                  <% @subtheme.documents.each do |d| %>
                    <li style="float:left;margin-right:5px;"><%= link_to d.description, d.url, :class => "small button" %></li>
                  <% end %>
                  </ul>
                </div>
              </div>
            </div>

          </div>
</div>
          
<div class="row">
          <div class="large-3 columns">
            <ul style="list-style:none;">
              <% @subtheme.words.each do |w| %>
                <li><%= link_to w.text_english, word_path(w) %></li>
              <% end %>
            </ul>
          </div>

          <div class="large-6 columns">
            <img src="<%= @subtheme.image %>"><br>
          </div>
</div>

<!-- Footer -->

<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns">
        <p>&copy; Copyright SFS Languages</p>
      </div>
      <!-- <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>
      </div> -->
    </div>
  </div> 
</footer>