<p id="notice"><%= notice %></p>
<div class="row">
          <div class="large-12 columns">
            <p style="font-size:80%;">
              <a href="/themes/1">Theme Name</a> > <a href="/subthemes/<%= @word.subtheme_id %>"> Sub-theme Name</a>
            </p>
          </div>
          
          <div class="large-12 columns">

            <div class="panel" style="padding-top:.5em;padding-bottom:.5em;">
              <div class="row">
                <div class="large-6 columns">
                  <h4 class="hide-for-small"><%= @word.text_english %><br/>
                    <span class="subheader"><%= @word.text_original %></span>
                  </h4>
                </div>
              
                <div class="large-6 columns right" style="text-align:right;">
                  <ul style="list-style:none;float:right;margin-top:10px;margin-bottom:0;">
                    <li style="float:right;margin-right:5px;"><%= link_to "Download PDF", @word.pdf, :class => "small button" %></li>
                    <li style="float:right;">
                      <audio controls loop style="width:400px;">
                        <source src="<%= @word.audio %>" type="audio/mpeg">
                        Your browser does not support the audio element.
                      </audio>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>


          <div class="row">
                    <div class="large-9 columns">
                      <img src="<%= @word.image %>"><br>
                    </div>
          </div>          
          <div class="row">
                    <div class="large-12 columns" style="margin-top:50px;">
                      <h6>Choose the same word in another language:</h6>
                      <ul class="inline-list">
                        <li><a href="#">Arabic</a></li>
                        <li><a href="#">English</a></li>
                        <li><a href="#">French</a></li>
                        <li><a href="#">Mandarin</a></li>
                        <li><a href="#">Vietnamese</a></li>
                      </ul>
                    </div>
          </div>

 
          
</div>

