<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title><%= content_for?(:title) ? yield(:title) : "SFS Languages by Matt Schartow" %></title>

	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "vendor/custom.modernizr" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- Header and Nav -->
	<!-- Navigation -->
 
  <nav class="top-bar">
    <ul class="title-area" width="400px">
      <!-- Title Area -->
      <li class="name">
      	<h1 style='float:left'><img src="http://www.sfslanguages.com/wp-content/themes/monochrome/img/logo.gif" width="50px" height="50px"/></h1>
        <h5>
			by Matt Schartow
        </h5>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
 
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">Languages</a>
          <ul class="dropdown">
            <% Language.all.each do |l| %>
              <li><%= link_to l.name, language_path(l) %></li>
            <% end %>

            <!-- <li><label>Western</label></li>
            <% Language.all.each do |l| %>
              <li class="has-dropdown"><%= link_to l.name, language_path(l) %>
              <ul class="dropdown">
                <li><label>Themes</label></li>
              <% l.themes.each do |t| %>
                <li><%= link_to t.name, theme_path(t) %></li>
              <% end %>
              </ul></li>
            <% end %> -->

          </ul>
        </li>
        <li class="divider"></li>
        <li><a href="#">About</a></li>
        <li class="divider"></li>
        <li><a href="#">Schools</a></li>
        <li class="divider"></li>
        <li><a href="#">Foundations</a></li>
      </ul>
    </section>
  </nav>
  <!-- End Top Bar -->
	<!-- End Header and Nav -->
  <%= yield %>
  
  <%= javascript_include_tag "application" %>
</body>
</html>